{% extends 'base.twig' %}

{% block body %}
  <h1 class="mt-3 mb-5">Блог</h1>
  <div class="row">
    <div class="col-9">
      {% include 'section/posts.twig' with posts %}
      <div class="row">
        {% include 'section/pagination.twig' with pagination %}
      </div>
    </div>
    <div class="col-3">
      {% include 'section/about.twig' %}
    </div>
  </div>
{% endblock %}